* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  text-decoration: none !important;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html {
  scroll-behavior: smooth;
}
/************************************************************** start header */
.my-container {
  width: 100%;
}

#open-menu,
#close-menu {
  display: none;
}
.my-container > header {
  width: 100%;
  height: 100vh;
  background-image: url("../image/my-header-background-1.jpg");
  background-size: cover;
  background-position: center;
}
.my-container > header > div:first-child {
  width: 100%;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.246);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.my-container > header > div:first-child > nav {
  width: 100%;
  height: 100%;
  display: flex;
}

.logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.logo > h5 {
  font-size: 40px;
  color: white;
}
.logo > h5 > span {
  font-size: 50px;
  color: orange;
}

.menu-container {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding-right: 20px;
}

.menu-container > a:first-child {
  padding: 8px 18px;
  border: 2px solid orange;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  transition: all 300ms linear;
}

.menu-container > a:first-child:hover {
  color: black;
  background-color: orange;
}

label[for="open-menu"] {
  color: white;
  font-size: 25px;
  cursor: pointer;
}
label[for="close-menu"] {
  color: white;
  font-size: 25px;
  cursor: pointer;
  align-self: flex-end;
  padding-right: 20px;
}

.menu-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.788);
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  display: none;
}

#open-menu:checked ~ .menu-overlay {
  display: flex;
  animation: fadeIn;
  animation-duration: 300ms;
}

.list-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.list-container > ul:nth-of-type(1) {
  width: 90%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 0;
}

.list-container > ul:nth-of-type(1) > li {
  width: 100%;
  height: 6%;
}

.list-container > ul:nth-of-type(1) > li > a {
  width: 100%;
  height: 100%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  color: black;
  font-size: large;
  font-weight: 700;
  transition: all 300ms ease-out;
}

.list-container > ul:nth-of-type(1) > li > a:hover {
  background-color: rgba(255, 166, 0, 0.911);
}

.my-active {
  background-color: orange !important;
}

.my-header-background-range {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-header-center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.my-header-center-text > h1 {
  font-size: 50px;
  color: white;
}
.my-header-center-text > h5 {
  font-size: 25px;
  color: white;
}
.my-header-center-text > h1 > span {
  color: orange;
  font-size: 80px;
}
.my-header-ul-li {
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}
.my-header-ul-li > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.my-header-ul-li > ul > li {
  cursor: pointer;
  padding: 30px 40px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  transition: all 300ms linear;
}
.my-header-ul-li > ul > li:hover {
  border: 1px solid orange;
}
.my-header-ul-li > ul > li > i {
  color: orange;
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.my-header-ul-li > ul > li:hover > a {
  color: orange;
}
.my-header-ul-li > ul > li > a {
  color: white;
  font-size: 20px;
  font-weight: 700;
  transition: all 300ms linear;
}
/**************** end header */
/*********************************************************** start main */
.main-office-part {
  width: 100%;
  display: grid;
  grid-template-areas: "head img";
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.062);
}
.main-office-part > .office-image {
  grid-area: img;
}
.main-office-part > .office-image > img {
  width: 500px;
}
.office-part-text {
  width: 80%;
  grid-area: head;
}
.office-part-text ul {
  display: flex;
  flex-direction: column;
}
.office-part-text i {
  font-size: 25px;
  color: orange;
}

.carousel-item {
  width: 100%;
  height: 40vh;
}
.main-work-part {
  width: 100%;
  padding: 100px;
  display: grid;
  grid-template-areas: "image culumn";
}
.working-image {
  grid-area: image;
}
.working-image > img {
  width: 100%;
}
.working-culumn {
  width: 100%;
  grid-area: culumn;
}
.working-culumn > nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.working-culumn > nav > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.working-culumn > nav > ul > li {
  width: 100%;
}
.working-culumn i {
  color: orange;
  font-size: 50px;
}
.working-culumn-header {
  font-weight: 600;
  font-size: 20px;
}
.autoplay-carousel {
  width: 50%;
  height: 200px;
  margin: 0 auto;
}
.autoplay-logos {
  width: 100%;
}
.our-services {
  padding-left: 40px;
  display: flex;
  align-items: center;
}
.our-services > p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.our-services > .yellow-line {
  width: 170px;
  height: 2px;
  background-color: orange;
  margin-bottom: 10px;
  margin-left: 20px;
}
.check-our-services {
  padding-left: 40px;
}
.check-our-services > strong {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.service-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 60px;
}
.card-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30%;
  background-color: white;
  padding: 2rem;
  border-radius: 1px black solid;
  transition: all 300ms linear;
}
.card-service:hover {
  transform: translateY(-1rem);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}
.card-service > i {
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
}
.bg-orange {
  background-color: orange;
  color: black;
}
.card-service > strong {
  display: block;
  margin-top: 1rem;
}
.card-service > p {
  padding-top: 1rem;
  text-align: center;
}
.space- {
  width: 100%;
  height: 5vh;
}
.call-to-action {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: url("../image/cta-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.call-to-action > strong {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
}
.call-to-action > p {
  width: 80%;
  font-size: 20px;
  color: white;
  text-align: center;
}
.call-to-action > button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px 35px;
  transition: all 300ms linear;
}
.call-to-action > button:hover {
  color: black;
  background-color: orange;
  border: 2px solid orange;
}
.Portfolio {
  padding-left: 40px;
  display: flex;
  align-items: center;
}
.Portfolio > p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.629);
}
.yellow-line {
  width: 170px;
  height: 2px;
  background-color: orange;
  margin-bottom: 10px;
  margin-left: 20px;
}
.Check-our-Portfolio {
  padding-left: 40px;
}
.Check-our-Portfolio > strong {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "btns btns"
    "my-col-1 my-col-2";
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: 2rem auto;
  justify-content: center;
}

.button-container-main {
  grid-area: btns;
}

.button-container-main > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-container-main > ul > li {
  cursor: pointer;
  width: 5%;
  text-align: center;
  border-radius: 5px;
  transition: all 300ms linear;
}
.button-container-main li:nth-of-type(1) {
  background-color: orange;
}
.button-container-main > ul > li:hover {
  background-color: orange;
}
.my-col-1 {
  grid-area: my-col-1;
}
.my-col-1 > div,
.my-col-2 > div {
  width: 90%;
  overflow: hidden;
}
.my-col-1 > div > img,
.my-col-2 > div > img {
  width: 100%;
  display: block;
}
.my-col-2 {
  grid-area: my-col-2;
}

.my-col-1,
.my-col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 25px;
}
.my-col-1 > div:hover > .my-col-overlay,
.my-col-2 > div:hover > .my-col-overlay {
  bottom: 0;
}

.my-col-1 > div,
.my-col-2 > div {
  position: relative;
}

.my-col-overlay {
  width: 100%;
  display: grid;
  grid-template-areas:
    "h3 icon-container"
    "p icon-container";
  grid-template-columns: 70% 30%;
  grid-template-rows: 2.5rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.842);
  position: absolute;
  transition: all 300ms linear;
  bottom: -10rem;
  padding-top: 10px;
}

.my-col-overlay > strong {
  grid-area: h3;
  padding-left: 15px;
  font-size: 20px;
}
.my-col-overlay > p {
  grid-area: p;
  padding-left: 15px;
}
.my-col-overlay > .icon-container {
  grid-area: icon-container;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}
.my-col-overlay > p {
  color: rgba(0, 0, 0, 0.6);
}
.icon-container > i {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  transition: all 300ms linear;
}
.icon-container > i:hover {
  color: orange;
}
.Voluptatem-dignissimos {
  width: 100%;
  height: 60vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.Voluptatem-dignissimos > div:first-child {
  width: 40%;
}
.Voluptatem-dignissimos > div:first-child > img {
  display: block;
  width: 100%;
}
.Voluptatem-dignissimos > div:last-child {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Voluptatem-dignissimos > div:last-child > strong {
  width: 75%;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.Voluptatem-dignissimos > div:last-child > p {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Voluptatem-dignissimos > div:last-child > nav {
  width: 75%;
}
.Voluptatem-dignissimos > div:last-child > nav > ul {
  width: 100%;
  display: flex;
}
.Voluptatem-dignissimos > div:last-child > nav > ul > li {
  width: 50%;
  padding: 20px;
}
.Voluptatem-dignissimos > div:last-child > nav > ul > li > i {
  color: orange;
  font-size: 50px;
}
.Voluptatem-dignissimos > div:last-child > nav > ul > li > strong {
  font-size: 50px;
}
.Voluptatem-dignissimos > div:last-child > nav > ul > li > p {
  color: rgba(0, 0, 0, 0.6);
}
.Voluptatem-dignissimos > div:last-child > nav > ul > li > p > span {
  font-weight: 700;
}
.autoplay-peoples{
  width: 100%;
  height: 40vh;
  background-image: url("../image/testimonials-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}
.carousel{
  width: 100%;
  height: 100%;
}
.carousel-item{
  width: 100%;
  height: 100%;
  
}
.carousel-item>div:nth-of-type(1){
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px ;
}
.carousel-item>div:nth-of-type(1)>.image-border{
  width: 170px;
  height: 170px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.433);
}
.carousel-item>div>img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.autoplay-header{
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
}
.autoplay-header-jobs{
  text-align: center;
  color: rgb(179, 179, 179);
}
.autoplay-stars{
  color: yellow;
  font-size: 20px;
  text-align: center;
}
.autoplay-text{
  color: white;
  text-align: center;
  padding-top: 10px;
}
.team-header {
  width: 100%;
  height: 10vh;
  padding-left: 40px;
  display: flex;
  align-items: center;
}
.team-header > p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.629);
  text-transform: uppercase;
}
.our-team-header {
  padding-left: 40px;
}
.our-team-header > strong {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.our-team-card {
  width: 100%;
  height: 40vh;
}
.our-team-card > nav {
  width: 100%;
  height: 100%;
}
.our-team-card > nav > ul {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 50px;
}
.our-team-card > nav > ul > li {
  width: 25%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.our-team-card > nav > ul > li > img {
  width: 90%;
}

.our-team-card > nav > ul > li > div {
  position: absolute;
  width: 80%;
  bottom: 25%;
  visibility: hidden;
  
}
.our-team-card > nav > ul > li:hover div {
  visibility: visible;
  
}
.our-team-card > nav > ul > li > div > nav > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team-card > nav > ul > li > div > nav > ul > li {
  display: flex;
  justify-content: center;
  width: 25%;
}
.our-team-card > nav > ul > li > div > nav > ul > li > a > i {
  color: white;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.433);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms linear;
}
.our-team-card > nav > ul > li > div > nav > ul > li:hover > a > i {
  color: black;
  background-color: orange;
}
.our-team-card > nav > ul > li > strong {
  padding-top: 20px;
  padding-left: 20px;
}
.our-team-card > nav > ul > li > p {
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}
.contact-header {
  padding-left: 40px;
  display: flex;
  align-items: center;
}
.contact-header > p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}
.contact-us-header {
  padding-left: 40px;
}
.contact-us-header > strong {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.map-container {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.map-container > iframe {
  width: 90%;
  height: 100%;
}
.contact-us-footer {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 30% 70%;
}
.contact-us-info {
  width: 100%;
  height: 100%;
  grid-area: left;
}
.contact-us-info > nav {
  width: 100%;
  height: 100%;
}
.contact-us-info > nav > ul {
  width: 100%;
  height: 65%;
  padding-left: 80px;
  padding-top: 30px;
}
.contact-us-info > nav > ul > li {
  width: 100%;
  height: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-us-info > nav > ul > li > i {
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.contact-us-inputs {
  width: 100%;
  height: 100%;
  grid-area: right;
}
.contact-us-inputs > div:nth-of-type(1) {
  width: 100%;
  display: flex;
  gap: 20px;
  padding-top: 30px;
}
.contact-us-inputs > div:nth-of-type(1) > input {
  width: 400px;
  height: 40px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0;
  padding-left: 30px;
}
.contact-us-inputs > div:nth-of-type(1) > input:focus {
  border: 1px solid orange;
}
.contact-us-inputs > div:nth-of-type(2) {
  width: 100%;
  padding-top: 30px;
}
.contact-us-inputs > div:nth-of-type(2) > input {
  width: 820px;
  height: 40px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0;
  padding-left: 30px;
}
.contact-us-inputs > div:nth-of-type(2) > input:focus {
  border: 1px solid orange;
}
.contact-us-inputs > div:nth-of-type(3) {
  width: 100%;
  padding-top: 30px;
}
.contact-us-inputs > div:nth-of-type(3) > input {
  width: 820px;
  padding-bottom: 200px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 0;
  padding-left: 30px;
}
.contact-us-inputs > div:nth-of-type(3) > input:focus {
  border: 1px solid orange;
}
.contact-us-inputs > div:nth-of-type(4) {
  width: 820px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us-inputs > div:nth-of-type(4) > button {
  background-color: orange;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms linear;
}
.contact-us-inputs > div:nth-of-type(4) > button:hover {
  background-color: rgb(254, 190, 72);
}
/********************* end main */
/************************************************************** start footer */
.footer-container {
  width: 100%;
  height: 30vh;
  background-color: black;
  padding: 80px;
  display: grid;
  grid-template-areas: "column-1 column-2 column-3 column-4";
  grid-template-columns: 30% 17% 18% 35%;
}
.footer-container > div:nth-of-type(1) {
  grid-area: column-1;
  width: 100%;
  height: 100%;
}
.footer-container > div:nth-of-type(1) > strong {
  color: white;
  font-size: 25px;
}
.footer-container > div:nth-of-type(1) > p {
  color: white;
  line-height: 15px;
}
.footer-container > div:nth-of-type(1) > p > span {
  font-weight: 700;
}
.footer-container > div:nth-of-type(1) > p:nth-of-type(1) {
  padding-top: 20px;
}
.footer-container > div:nth-of-type(1) > p:nth-of-type(3) {
  padding-top: 10px;
}
.footer-container > div:nth-of-type(1) > div > nav > ul {
  width: 55%;
  display: flex;
}
.footer-container > div:nth-of-type(1) > div > nav > ul > li {
  width: 25%;
  cursor: pointer;
  gap: 20px;
}
.footer-container > div:nth-of-type(1) > div > nav > ul > li > a > i {
  color: white;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.22);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms linear;
}
.footer-container > div:nth-of-type(1) > div > nav > ul > li:hover > a > i {
  color: black;
  background-color: orange;
}
.footer-container > div:nth-of-type(2) {
  grid-area: column-2;
  width: 100%;
  height: 100%;
}
.footer-container > div:nth-of-type(2) > nav > ul {
  width: 100%;
  height: 100%;
}
.footer-container > div:nth-of-type(2) > nav > ul > li:nth-of-type(1) {
  cursor: text;
}
.footer-container > div:nth-of-type(2) > nav > ul > li {
  cursor: pointer;
  padding-top: 10px;
}
.footer-container > div:nth-of-type(2) > nav > ul > li > strong {
  color: white;
  font-size: 18px;
}
.footer-container > div:nth-of-type(2) > nav > ul > li > i {
  color: orange;
}
.footer-container > div:nth-of-type(2) > nav > ul > li > a {
  color: white;
  transition: all 300ms linear;
}
.footer-container > div:nth-of-type(2) > nav > ul > li:hover > a {
  color: orange;
}
.footer-container > div:nth-of-type(3) {
  grid-area: column-3;
  width: 100%;
  height: 100%;
}
.footer-container > div:nth-of-type(3) > nav > ul {
  width: 100%;
  height: 100%;
}
.footer-container > div:nth-of-type(3) > nav > ul > li:nth-of-type(1) {
  cursor: text;
}
.footer-container > div:nth-of-type(3) > nav > ul > li {
  cursor: pointer;
  padding-top: 10px;
}
.footer-container > div:nth-of-type(3) > nav > ul > li > strong {
  color: white;
  font-size: 18px;
}
.footer-container > div:nth-of-type(3) > nav > ul > li > i {
  color: orange;
}
.footer-container > div:nth-of-type(3) > nav > ul > li > a {
  color: white;
  transition: all 300ms linear;
}
.footer-container > div:nth-of-type(3) > nav > ul > li:hover > a {
  color: orange;
}
.footer-container > div:nth-of-type(4) {
  grid-area: column-4;
  width: 100%;
  height: 100%;
}
.footer-container > div:nth-of-type(4) > strong {
  color: white;
  font-size: 18px;
}
.footer-container > div:nth-of-type(4) > p {
  color: white;
}
.footer-container > div:nth-of-type(4) > div {
  width: 100%;
  display: flex;
}
.footer-container > div:nth-of-type(4) > div > input {
  width: 70%;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
}
.footer-container > div:nth-of-type(4) > div > input:focus {
  border: 1px solid orange;
}
.footer-container > div:nth-of-type(4) > div > button {
  background-color: orange;
  padding: 8px 30px;
  border: 0;
  border-radius: 5px;
}
.copyright-footer {
  width: 100%;
  height: 5rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyright-footer > p {
  color: white;
  font-size: 14px;
}
.copyright-footer > p:nth-of-type(1) > span {
  font-weight: 700;
}
.copyright-footer > p:nth-of-type(2) > span {
  color: orange;
}
/************************************************************** end footer */
.scroll-up {
  width: 60px;
  height: 60px;
  background-color: orange;
  position: fixed;
  z-index: 100;
  bottom: 60px;
  right: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 40px;
}
.scroll-up > a > i {
  color: black;

}